.App {
  text-align: center;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-item {
  display: flex;
  flex-direction: row;
  font-size: 36px;
}
.list-item-complete {
  display: flex;
  flex-direction: row;
  font-size: 36px;
  text-decoration: line-through;
}

.list-item-option {
  padding-left: 4px;
  font-size: 12px;
  margin: 0;
}
.App-link {
  color: #61dafb;
}
